<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <title>BookMyTicket</title>
</head>

<body style="background-color:rgb(14, 15, 15);">
    <nav class="navbar navbar-expand-lg navbar-light   sticky-top" style="background-color:rgb(14, 15, 15);">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">BookMyTicket</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                </ul>
                
                <div class="mx-2">
                    <button class="btn btn-light" data-bs-toggle="modal"
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#SignInModal">LogIn</button>
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#SignUpModal">SignUp</button>

                </div>
            </div>
        </div>
    </nav>








    <!--SignIn -->
    <div class="modal fade" id="SignInModal" tabindex="-1" aria-labelledby="SignInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignInModalLabel">Sign In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="POST" id="loginForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">@User Name</label>
                            <input type="text" class="form-control" name="email" aria-describedby="emailHelp" required id="email" value="user1@user.com">
                    
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="password" name="password" required id="password" value="user">
                    
                            <button type="button" class="btn btn-primary" id="signInButton">SignIn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!--SignUp -->
    <div class="modal fade " id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignUpModalLabel">Sign Up</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form action="/api/user" method="POST" enctype="multipart/form-data">
                        <div class="mb-1">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" aria-describedby="emailHelp" required maxlength="30">

                            <label for="Age" class="form-label">Age</label>

                            <input type="number" class="form-control" id="Age" name="Age" aria-describedby="emailHelp" min="15" max="100" required>
                            <label for="Gender" class="form-label" >Gender</label>
 
                            <div class="form-control">
                                <input type="radio"  name="Gender" value="male" aria-describedby="emailHelp" required> Male
                                <input type="radio"  name="Gender" value="female" aria-describedby="emailHelp" required> Female
                             </div>
                            <label for="Username" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="Username2" name="Username"
                                aria-describedby="emailHelp" onkeyup="validate(event)" required>


                            
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="password form-control"  name="Password" minlength="8" aria-describedby="emailHelp">

                            <label for="image" class="form-label">Image</label>
                            <input type="file"  class="form-control"  name="image" accept="image/*">
                            
                             <br>
                            <button type="submit" class="btn btn-primary ">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    
    <div class="container my-10 " id="app">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="Caption1" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="Caption2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="Caption3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img  :src="getposterPath(`poster_ae dil hai muskil`)" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Ae Dil Hai Muskil</h5>
                        <p>This story explores love - the shapes it takes, the ways it changes us and the ...</p>
                        <h2>Love, Drama, Music, 2023</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img :src="getposterPath(`poster_pathan`)" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pathan</h5>
                        <p>An Indian agent races against a doomsday clock as a ruthless mercenary, with ...</p>
                        <h2>Action, Adventure, Drama, 2023</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img :src="getposterPath(`poster_bheed`)" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Bheed</h5>
                        <p>The toughest times people had to face just to reach their homes...</p>
                        <h2>Drama, 2023</h2>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



   





    <div class="bg-dark text-secondary px-4 py-1 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">BookMyTicket</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">We provide all possibilities here.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->


    <script>
        function validate(event){
            var inp=document.getElementById("Username2");
            u_name=inp.value;
            fetch(`/api/check_uname/${u_name}`)
            .then((response) => response.json())
            .then((data) => {
                // Handle the response data here
                if (!data){
                    event.preventDefault();
                    inp.setCustomValidity("Username Already Exist");
                    inp.reportValidity();
                    return false;
                }
                else{
                    inp.setCustomValidity("");
                    inp.reportValidity();
                    return true;
                }
            })
            .catch((error) => {
                console.log("Error fetching data:", error);
                return false
            });
    
        }
    </script>
    

    <script>
        var app = new Vue({
        el: '#app',
        data: {
        },
        methods: {
            getposterPath(name) {
                return (`/static/image/${name}.jpg`);
            },
        },
        computed:{
        },   
    })

    </script>


    <script>
        // Function to be called on button click
        function handleSignIn() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const data = {
                email: email,
                password: password
            };

            fetch(`/login?include_auth_token=true`, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => data.response.user.authentication_token)
            .then(data => {
                const authToken = data;
                const targetUrl = '/home';

                // Construct the URL with the authentication token as a query parameter
                const urlWithToken = `${targetUrl}?token=${authToken}`;

                // Redirect to the new URL
                localStorage.setItem('authToken', authToken);
                window.location.href = "/home";

            })
            .catch(error => {
                console.log(error);
                // Handle errors
            });

            
        }

        // Attach event listener to the button
        const signInButton = document.getElementById('signInButton');
        signInButton.addEventListener('click', handleSignIn);
    </script>
</body>

</html>




